.contact-page {
  height: 100%;
  width: 900px;
  margin: auto;
}
@media (max-width: 1000px) {
    .contact-page{
        width: auto;
    }
    .contact-page-wrapper{
margin-left: 20px;
margin-right: 20px;
    }
  }
  