.bg-img {
  background-image: url(../../assets/images/blue_dot.png);
  height: 250px;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.bg-img h2 {
  color: white;
  font-size: 46px;
}

.bg-img h1 {
  color: white;
  font-size: 46px;
}

.solution-title{

}

.photos img {
  width: 250px;
  height: 500px;
  object-fit: contain;
  vertical-align: middle;
  display: inline-block;
}

@media (max-width: 767px) {
  .photos img {
    width: 200px;
    max-width: 200px;
    height: 300px;
    margin-right: 54px;

  }

  .bg-img h1, .bg-img h2{
    font-size: 2em;
  }
}
