* {
    box-sizing: border-box;
}

.home-jumbotron, .our-solution, .contact{
    height: 100vh;
    background-size: cover;
}

.home-jumbotron{
    background-image: url(../../assets/images/main-photo.jpg);
}

.contact{
    background-image: url(../../assets/images/contact-bg.jpg);
}

.home-jumbotron, .contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-jumbotron-overlay {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/blue_dot.png);
    opacity: 0.75;
    filter: brightness(120%) contrast(150%) saturate(100%) blur(0px) hue-rotate(334deg);
    position: absolute;
    top: 0;
    left: 0;
}

.jumbotron-content {
    z-index: 1;
    text-align: center;
    margin: -86px 0 0;

}

.jumbotron-content h1 {
    color: #fff;
    font-family: "Helvetica Hebrew", Sans-serif;
    font-size: 46px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

.jumbotron-content h1:nth-child(2) {
    font-weight: 700;

}

.jumbotron-content .logo-white {
    width: 200px;
    max-width: 200px;
    height: 70px;
}

.arrow-link {
    animation: bounce 4s infinite;
    display: block;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 23px);
}

.arrow-icon {
    width: 46px;
    height: 46px;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.our-solution {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.our-solution-title, .partners-title, .articles-title, .career-title, .career-second-title, .job-title, .job-details {
    color: #2f439a;
}

.advantages-title {
    color: white;
}

.advantages-content {}

.partners-title {
    font-family: "Helvetica Hebrew", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.our-solution-title, .advantages-title, .articles-title, .career-title {
    font-family: "Helvetica Hebrew", Sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-align: center;

}

.our-solution-content {
    text-align: center;
    z-index: 1;
    width: auto;
    max-width: auto;
    align-content: center;
    align-items: center;
}


.our-solution-text {
    color: #000080;
    font-family: "Helvetica Hebrew", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2em;
}

.chart, .clock, .smartphone {
    width: 120px;
    max-width: 120px;
    height: 120px;
    object-fit: contain;
    vertical-align: middle;
}

.icons-row {
    display: flex;
    justify-content: space-between;
}

.icon-wrap {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.icon-wrap a {
    box-shadow: inset 1px 1px 2px rgb(255 255 255 / 20%), inset 3px 15px 45px rgb(255 255 255 / 10%), inset -1px -1px 2px rgb(0 0 0 / 50%), inset -3px -15px 45px rgb(0 0 0 / 10%);
    border-radius: 999px;
    display: block;
    width: 120px;
    height: 120px;
    min-width: 120px;
    max-width: 120px;
    max-height: 120px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrap a svg {
    width: 70px;
    max-width: 70px;
    height: 70px;
    object-fit: contain;
}

.icon-title {
    color: #000080;
}

.icon-title-ad {
    color: #fff;
}

.icon-title, .icon-title-ad {
    font-family: "Helvetica Hebrew", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.advantages {
    background-image: url(../../assets/images/blue_dot.png);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-group {
    background-color: #fff;
    box-shadow: inset 1px 1px 2px rgb(255 255 255 / 20%), inset 3px 15px 45px rgb(255 255 255 / 10%), inset -1px -1px 2px rgb(0 0 0 / 50%), inset -3px -15px 45px rgb(0 0 0 / 10%);
    border-radius: 999px;
    height: 120px;
    min-width: 120px;
    max-width: 120px;
    max-height: 120px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aaa {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}


.icon-square {
    display: flex;
    justify-content: space-between;
}

.icon-in {
    width: 75px;
    height: 75px;
    padding: 6px !important;
    object-fit: fill;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: none;
}


.image {
    padding-bottom: 42%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.images-row {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(8, 1fr);
}

.partners {
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px 20px;
    ;
    padding-top: 40px;
}

.articles {
    margin: auto;
}

.card-title, .card-text {
    text-align: right;
    font-family: "Helvetica Hebrew", Sans-serif;
    line-height: 1.3em;

}

.card-title {
    margin-top: 0;
    color: #2f439a;

}

.card-text {
    font-size: 18px;

}

.articles-row .article-card {
    max-width: 30%;
}

.articles-row .card-title {
    font-size: 24px;

}

.articles-row {
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
}

.articles-row, .articles {
    max-width: 1330px;

}

.article-btn {
    margin: 40px;
    text-align: center;
}

.career-second-title {
    font-family: "Helvetica Hebrew", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}

.career-third-title {
    font-family: "Helvetica Hebrew", Sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #2f439a;
    margin: 0;
    line-height: 1;
}

.career-text {
    margin: 0;
    color: #2f439a;
    font-family: "Helvetica Hebrew", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3em;
}

.career-content {
    display: flex;
    max-width: 1370px;
    box-sizing: border-box;
    margin: auto;
    padding: 0 20px 20px;
    ;
}

.career-photos img {
    border-radius: 50%;
}

.large-photo {
    width: 450px;
    max-width: 450px;
    height: 450px;
    object-fit: cover;
    margin: auto;
    display: block;
}

.small-photo {
    width: 250px;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    position: absolute;
    transform: translate(-225px, 131px);

}

.career-photos {
    position: relative;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 45%;
    padding: 0 0 0 50px;

}

.career-container {
    padding: 50px 0;
}

.jobs-btn {
    margin: 0;
    text-align: right;
}

.job-title {
    font-size: 28px;
    font-weight: 700;
}

.job-details {
    font-size: 15px;
    font-weight: 700
}

.job-details-wrap {
    margin-top: 15px;
}


/* element.style {
    --hgap: 15px;
    --vgap: 15px;
    --animation-duration: 350ms;
    --columns: 8;
    --rows: 1;
    --aspect-ratio: 42.8571%;
    --container-aspect-ratio: 4.72077%;
} */