.form-title, .second-title {
    color: white;
}

.form-title {
    font-family: "Helvetica Hebrew", Sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

.second-title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.contact-detail {
    font-size: 18px;
    font-weight: 700;
}

.detail-title {
    margin-top: 0;
    color: #2f439a
}

.vl {
    padding-left: 40px;
    border-left: 1px solid;
    color: #2f439a
}

.detail-wrap {
    padding-bottom: 15px;
}

.detail-name{
    font-size: 16px;
    font-weight: 500;
}

input, textarea{
    width: 100%;
    border-color: #2f439a;
    border-radius:3px;
    border: 1px solid #2f439a ;
    color:#2f439a;
    padding: 10px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    direction: rtl
  }

  .text-input{
    color: #2f439a;
    margin: 20px 0;
    box-sizing: border-box;
  }

  input[type=submit] {
    background-color: #2f439a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    text-align: center;
    font-size: 18px;
  }

  textarea {
    overflow: auto;
    resize: vertical;

}

::placeholder{
    color: #2f439a;
}