.footer ul {
  display: flex;
  direction: rtl;
  list-style-type: none;
  margin: 0;
  max-width: 500px;
  justify-content: space-between;
}

.footer .link {
  font-size: 16px;
  font-weight: 480;
  color: #fff;
  text-decoration: none;
}

.footer {
  text-align: center;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  background: #2f439a;
  direction: rtl;
}

.footer-wrap {
  display: flex;
  align-items: center;
  min-height: 100px;
  margin: auto;
  justify-content: space-between;
}

.footer-sec {
  width: 33%;
}

.footer .link,
.footer-sec {
  color: #fff;
}

@media (max-width: 768px) {
  .footer-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    text-align: center;
    max-height: 100%;
  }

  .footer p {
    margin: 0;
  }
  .footer-sec {
    width: 100%;
    font-size: 0.9em;
  }
  
  .footer ul{
    padding: 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }

  .footer .link, .footer ul{
        font-size: 0.9em;
font-weight: 500;
  }
}
